{% extends 'header_footer.html' %}

{% block content %}

<form method="POST" action="{% url 'creation' %}">
    {% csrf_token %} <!-- pour la securité -->

    {% if iferrors %}
    {{ iferrors }}
    {% endif %}
<br/><br/>
    Username<br>
    <input type='text' name="username" placeholder="username" /> <br/>
    Password <br/>
    <input type='password' name="password"> <br/>
    Confirm Password <br/>
    <input type='password' name="confirmpassword"> <br/>
    <input type='submit' name="submit" value="créer compte">
</form>

</body>


{% endblock %}